.product {
  display: flex;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}
.product-name {
  margin: 10px 20px;
}
.product-name h4 {
  font-weight: 500;
  font-size: 18px;
  color: red;
}
.main-btn {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 20px;
  outline: none;
}
.main-btn:hover {
  background-color: gray;
}
